<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
    <title>Blog Articles</title>
</head>

<body class="max-w-full">
    <div class="w-full h-full flex flex-col">
        <%- include('./partials/__navbar') %>
        <div class="w-full h-full">
            <h1 class="font-bold text-2xl ml-4">All Articles</h1>
        </div>
        <% articles.forEach((a)=>{ %>
            <div class="bg-zinc-100 rounded flex flex-col h-60 mt-4 drop-shadow-lg p-2 ml-4 mr-4">
                <h1 class="font-bold text-xl">
                    <%= a.title %>
                </h1>
                <h1 class="text-gray-400">
                    <%= a.createdAt.toLocaleDateString() %>
                </h1>
                <p class="font-bold">Description:</p>
                <p>
                    <%= a.description %>
                </p>
                <div class="flex flex-row w-full h-full items-end">
                    <a href="/articles/<%=a.slug%>" class="bg-blue-500 px-2 py-1 rounded">Read More</a>
                    <form action="articles/<%= a.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="px-2 py-1 bg-red-500 hover:bg-red-400 rounded ml-2">Delete</button>
                    </form>
                    <a href="/articles/edit/<%=a.id%>" class="bg-green-500 px-2 py-1 rounded ml-2">Edit</a>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>